
hmtl, body {
  margin: 0;
  padding: 0;
}

h1,h2 {
  margin: 0;
  padding: 0;
}
button {
  font-family: Teko;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

}
html {
  font-family: Teko;
  color: #F2F2F2;
  background-color: #1C1A1A;
}

