
.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 7rem;

    & > :nth-child(2n) {
        transform: translateX(-150px);
    }
}


@media (max-width: 1350px) {
  .container {
    display: none;
  }
}
