.container {
  display: flex;
  gap: 0.5rem;
  color: rgba(242, 242, 242, 0.4);
  align-items: center;
  cursor: pointer;
  padding: 8px 12px;
  width: fit-content;
  background: rgba(48, 45, 45, 0.34);
  border-radius: 12px;

  min-width: 132px;
}
.img {
}
.text {
    font-size: 12px;
    line-height: 12px;
}
.name {
    font-size: 20px;
    line-height: 24px;
}
